@mixin breakpoint($point) {
	@if $point==sm {
		@media (min-width: 576px) {
			@content;
		}
	} @else if $point==max-sm {
		@media (max-width: 575px) {
			@content;
		}
	} @else if $point==md {
		@media (min-width: 768px) {
			@content;
		}
	} @else if $point==max-md {
		@media (max-width: 767px) {
			@content;
		}
	} @else if $point==lg {
		@media (min-width: 992px) {
			@content;
		}
	} @else if $point==max-lg {
		@media (max-width: 991px) {
			@content;
		}
	} @else if $point==xl {
		@media (min-width: 1200px) {
			@content;
		}
	} @else if $point==max-xl {
		@media (max-width: 1199px) {
			@content;
		}
	} @else if $point==xxl {
		@media (min-width: 1400px) {
			@content;
		}
	} @else if $point==max-xxl {
		@media (max-width: 1399px) {
			@content;
		}
	}
}

:root {
	--primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
	--secondary-glow: linear-gradient(
		to bottom right,
		rgba(1, 65, 255, 0),
		rgba(1, 65, 255, 0),
		rgba(1, 65, 255, 0.3)
	);
	--title: #fff;
	--title-rgb: 255, 255, 255;
	--text: #f1f2f4;
	--body: #0f0f0f;
	--section: #1b1b1b;
	--white: #ffffff;
	--base: #52b4c1;
	--body-fonts: "Manrope", sans-serif;
	--heading-fonts: "Manrope", sans-serif;
	--inter-tight: "Inter Tight", sans-serif;
	--gradient: linear-gradient(90deg, #7f1ce9 -1.71%, #a71de7 105.13%);
}
body {
	background: var(--body) !important;
	font-family: var(--body-fonts);
	color: var(--text);
	font-weight: normal;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--title);
	font-family: var(--heading-fonts);
	font-weight: 700;
}

h1 {
	font-size: 54px;
}
h2 {
	font-size: 45px;
}
h3 {
	font-size: 40px;
}
h4 {
	font-size: 31px;
}
h5 {
	font-size: 26px;
}
h6 {
	font-size: 22px;
}
@include breakpoint(max-md) {
	h1 {
		font-size: 34px;
	}
	h2 {
		font-size: 28px;
	}
	h3 {
		font-size: 24px;
	}
	h4 {
		font-size: 22px;
	}
	h5 {
		font-size: 18px;
	}
	h6 {
		font-size: 16px;
	}
}
@include breakpoint(max-sm) {
	h1 {
		font-size: 28px;
	}
	h2 {
		font-size: 26px;
	}
	h3 {
		font-size: 24px;
	}
	h4 {
		font-size: 20px;
	}
	h5 {
		font-size: 18px;
	}
	h6 {
		font-size: 16px;
	}
}
ul {
	padding: 0;
	margin: 0;
	li {
		list-style: none;
	}
}
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
	transition: all ease 0.3s;
}
img {
	height: unset;
}
.right-top-image {
	position: fixed;
	top: 0;
	right: 0;
	z-index: -1;
	transform: translateY(-20%);
	max-width: 50%;
}
header {
	border-bottom: 1px solid rgba(255, 255, 255, 0.25);
	position: sticky;
	top: 0;
	z-index: 9;
	transition: all ease 0.3s;
	&.active {
		background: var(--body);
	}
}
.header-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-block: 16px;
	.logo {
		.img {
			background: var(--gradient);
			padding: 2px;
			border-radius: 50%;
			width: 60px;
			img {
				border-radius: 50%;
				max-width: 100%;
				aspect-ratio: 1;
				object-fit: cover;
			}
		}
		display: flex;
		align-items: center;
		gap: 18px;
		font-size: 28px;
		font-style: normal;
		font-weight: 500;
		line-height: 150%;
		font-family: var(--inter-tight);
	}
	@include breakpoint(max-sm) {
		padding-block: 12px;
		.logo {
			font-size: 24px;
			gap: 12px;
		}
	}
	@media screen and (max-width: 400px) {
		.logo {
			.img {
				width: 45px;
			}
			font-size: 18px;
			gap: 8px;
		}
	}
}
.menu-wrapper {
	.menu {
		border-radius: 16px;
		border: 1px solid rgba(255, 255, 255, 0.1);
		background: #1a1a1a;
		padding-inline: 16px;
		display: flex;
		li {
			a {
				display: inline-block;
				padding: 17px 24px;
				font-size: 18px;
				font-style: normal;
				font-weight: 400;
				line-height: 150%;
				color: var(--white);
				position: relative;
				&::after {
					content: "";
					position: absolute;
					left: 0;
					bottom: 8px;
					height: 3px;
					background: var(--gradient);
					width: 0;
					left: 24px;
					border-radius: 2px;
					transition: all ease 0.3s;
				}
				&.active {
					&::after {
						width: calc(100% - 48px);
					}
				}
			}
		}
	}
	@include breakpoint(max-lg) {
		position: fixed;
		top: 0;
		left: 0;
		min-height: 100dvh;
		width: 100%;
		background: var(--body);
		z-index: 99;
		max-width: 320px;
		padding: 24px;
		display: flex;
		flex-direction: column;
		transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
		.menu {
			flex-grow: 1;
			overflow-y: auto;
			max-height: calc(100vh - 200px);
			flex-direction: column;
			li {
				width: 100%;
				&:first-child {
					margin-top: auto;
				}
				&:last-child {
					margin-bottom: auto;
				}
			}
		}
		&:not(.active) {
			transform: translateX(-100%);
		}
	}
}
.cmn-btn {
	font-size: 20px;
	font-style: normal;
	font-weight: 500;
	line-height: 150%;
	border-radius: 10px;
	background: var(--gradient);
	padding: 16px 32px;
	color: var(--white);
	display: inline-flex;
	gap: 8px;
	align-items: center;
	position: relative;
	justify-content: center;
	&::before {
		content: "";
		position: absolute;
		border-radius: 10px;
		inset: 0;
		background: linear-gradient(90deg, #a71de7 -1.71%, #7f1ce9 105.13%);
		z-index: 1;
		opacity: 0;
		transition: all ease 0.3s;
	}
	span {
		position: relative;
		z-index: 2;
	}
	&:hover {
		&::before {
			opacity: 1;
		}
	}
	@include breakpoint(max-lg) {
		font-size: 16px;
		padding: 12px 24px;
	}
	@include breakpoint(max-sm) {
		font-size: 16px;
		padding: 12px 18px;
	}
}
.w-btn-100 {
	.cmn-btn {
		width: 100%;
	}
}
.overlay {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100%;
	background: rgba(0, 0, 0, 0.8);
	z-index: 98;
	animation: fadeIn 0.3s ease;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
.no-gutter {
	padding: 0;
	margin: 0;
	border: none;
	outline: none;
	box-shadow: none;
}
.header-btn-grp {
	@media screen and (max-width: 400px) {
		.cmn-btn {
			font-size: 13px;
			padding: 10px 20px;
			svg {
				display: none;
			}
		}
	}
}
.secondary-btn {
	padding: 16px 30px;
	font-size: 20px;
	font-style: normal;
	font-weight: 500;
	line-height: 150%;
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.25);
	background: #1a1a1a;
	color: var(--white);
	display: inline-flex;
	justify-content: center;
}
.banner-btn {
	display: flex;
	flex-wrap: wrap;
	gap: 28px;
	.secondary-btn,
	.cmn-btn {
		padding: 16px 30px;
		@include breakpoint(md) {
			min-width: 234px;
		}
	}
}
.banner-wrapper {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 30px;
	justify-content: space-between;
	.banner-content {
		color: #999;
		font-size: 20px;
		font-style: normal;
		font-weight: 500;
		line-height: 150%;
		width: 0;
		flex-grow: 1;
		.badge {
			font-size: 24px;
			font-style: normal;
			font-weight: 500;
			line-height: 150%;
			display: inline-flex;
			align-items: center;
			gap: 8px;
			padding: 3px 13px;
			border-radius: 24px;
			background: rgba(255, 255, 255, 0.06);
			margin-bottom: 23px;
			&::before {
				display: inline-block;
				content: "";
				border-radius: 50%;
				width: 12px;
				height: 12px;
				background: #0ace06;
			}
		}
		.banner-title {
			margin-bottom: 32px;
			font-size: 64px;
			font-style: normal;
			font-weight: 700;
			line-height: 150%;
		}
		.banner-text {
			a {
				font-size: 24px;
				font-weight: 600;
				font-family: var(--inter-tight);
			}
			margin-bottom: 64px;
		}
		max-width: 600px;
	}
	.banner-right {
		border-radius: 12px;
		border: 1px solid rgba(255, 255, 255, 0.25);
		background: rgba(255, 255, 255, 0.05);
		text-align: center;
		padding: 48px;
		width: 100%;
		max-width: 530px;
		.social-media {
			display: flex;
			justify-content: center;
			gap: 12px;
		}
		img {
			max-width: 100%;
			border-radius: 12px;
		}
		.name {
			font-size: 32px;
			@include breakpoint(max-md) {
				font-size: 25px;
			}
		}
	}
	@include breakpoint(max-xxl) {
		.banner-right {
			max-width: 450px;
		}
	}
	@include breakpoint(max-xl) {
		.banner-right {
			padding: 30px;
			max-width: 380px;
		}
		.banner-content {
			.badge {
				font-size: 20px;
			}
			.banner-title {
				font-size: 48px;
			}
			.banner-text {
				font-size: 18px;
				margin-bottom: 40px;
			}
			.banner-btn {
				gap: 20px;
				.secondary-btn,
				.cmn-btn {
					padding: 12px 24px;
					font-size: 18px;
					min-width: 170px;
					@include breakpoint(max-sm) {
						min-width: 0;
						font-size: 14px;
					}
				}
			}
		}
	}
	@include breakpoint(max-lg) {
		.banner-content {
			width: 100%;
			max-width: 100%;
		}
		.banner-right {
			@include breakpoint(max-sm) {
				max-width: 100%;
				padding: 20px;
			}
		}
	}
	@include breakpoint(max-md) {
		.banner-content {
			.banner-text {
				font-size: 16px;
				a {
					font-size: 20px;
					svg {
						width: 24px;
						height: 24px;
					}
				}
				@include breakpoint(max-sm) {
					font-size: 14px;
				}
			}
			.badge {
				font-size: 16px;
			}
			.banner-title {
				font-size: 10vw;
				margin-bottom: 20px;
			}
		}
		.banner-right {
			max-width: 400px;
			margin: 0 auto;
		}
	}
}
.text-gradient {
	background: var(--gradient);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.banner-section {
	padding: 100px 0;
	@include breakpoint(max-md) {
		padding: 80px 0;
	}
}
.skills {
	display: flex;
	flex-wrap: wrap;
	gap: 24px;
	.skill {
		border-radius: 12px;
		background: #1b1b1b;
		padding-block: 48px;
		width: calc((100% / 6) - 24px * 5 / 6);
		display: flex;
		align-items: center;
		justify-content: center;
		img {
			object-fit: contain;
		}
		@include breakpoint(max-xl) {
			padding-block: 36px;
		}
	}
	@include breakpoint(max-lg) {
		.skill {
			width: calc((100% / 4) - 24px * 3 / 4);
		}
	}
	@include breakpoint(max-md) {
		.skill {
			width: calc((100% / 3) - 24px * 2 / 3);
		}
	}
	@include breakpoint(max-sm) {
		gap: 12px;
		.skill {
			padding-block: 24px;
			width: calc((100% / 3) - 12px * 2 / 3);
			border-radius: 8px;
			img {
				width: 50px;
				height: 50px;
				max-width: 100%;
			}
		}
	}
}
.section-title {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 48px;
	gap: 20px;
	.txt1 {
		@include breakpoint(md) {
			font-size: 20px;
		}
	}
	@include breakpoint(max-md) {
		gap: 12px;
		margin-bottom: 32px;
	}
}
